body{
    background-color: #2F1551;
}

.title{
    margin: auto;
    width: 50%;
    text-align: center;
}

.name{
    font-size:750%;
    font-family: 'Staatliches', cursive;
    color: #F0EDEE;
}

.links{
    display: flex;
    margin: auto;
    width: 50%;
    text-align: center;
    justify-content: space-around;
}

.terminal{
    display: flex;
    margin: auto;
    width: 50%;
    justify-content: space-around;
    margin-top: 50px;
    min-height: 50vh;
    max-height: 50vh;
    --background: #060412;
    --color: #EFB720;
}

.fas, .fab{
    font-size:350%;
    margin-right: 10%;
    margin-left: 10%;
    color: #EFB720;
}
